<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
		<button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="navbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a href="/" class="navbar-brand"><p>Softplan Test - C&aacute;lculo de custo de rodovias</p></a>
	</nav>
</html>